.head-ctn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.head-main {
    padding: 10px;
    border: 3px outset rgba(0, 0, 0, 0.582);
    width: max-content;
    background-color: rgba(255, 235, 205, 0.767);
    transition: all 100ms ease-out;
}

.head-main h1 {
    font-size: 38px;
    color: #000;
}

@media screen and (max-width: 580px) {
    .head-main {
        width: min-content;
        border: 3px outset rgba(0, 0, 0, 0.397);
    }

    .head-main h1 {
        font-size: 28px
    }
}

.head-main:hover {
    border: 3px groove rgba(102, 102, 102, 0.712);
    background-color: rgba(127, 255, 212, 0.274);
}