@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Work+Sans&display=swap');

.App {
    font-family: 'Work Sans', sans-serif;
}

.head-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: fit-content;
}